# python cache
__pycache__
*.pyc

# vscode
.vscode

# mac
.DS_Store

# models and datasets
models
datasets

# assets for document
assets/source/*

# pixi environments
.pixi
pixi.lock

# jupyter notebook
.ipynb_checkpoints

# arduino
sketch.yaml

# logs
runtime.log